---
const lorem = "Lorem, ipsum dolor sit amet consectetur."
const arr = new Array(10).fill(lorem)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-zinc-900 text-zinc-200">
		<button onclick="toggleStop()" class="absolute top-3 right-3 bg-zinc-900 border border-zinc-700 rounded p-2" data-locked={false} id="lockButton">
			<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.4986 0C6.3257 0 5.36107 0.38943 4.73753 1.19361C4.23745 1.83856 4 2.68242 4 3.63325H5C5 2.84313 5.19691 2.23312 5.5278 1.80636C5.91615 1.30552 6.55152 1 7.4986 1C8.35683 1 8.96336 1.26502 9.35846 1.68623C9.75793 2.11211 10 2.76044 10 3.63601V6H3C2.44772 6 2 6.44772 2 7V13C2 13.5523 2.44772 14 3 14H12C12.5523 14 13 13.5523 13 13V7C13 6.44771 12.5523 6 12 6H11V3.63601C11 2.58135 10.7065 1.66167 10.0878 1.0021C9.46477 0.337871 8.57061 0 7.4986 0ZM3 7H12V13H3V7Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
		</button>
		<div class="snap-y snap-mandatory overflow-y-auto h-screen ">
			{arr.map((item) => (
				<section class='h-[50vh] snap-start odd:bg-amber-200 odd:text-zinc-800 even:bg-zinc-900 even:text-amber-100'>
					<div class="flex flex-col h-full justify-center items-center p-8">
						<h2 class="text-5xl">{item}</h2>
					</div>
				</section>
			))}
			<footer>
				<div class="p-8">
					<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, cupiditate.</h1>
				</div>
			</footer>
		</div>
	</body>
	<script client:load>
		const lockedIcon = `<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 4.63601C5 3.76031 5.24219 3.1054 5.64323 2.67357C6.03934 2.24705 6.64582 1.9783 7.5014 1.9783C8.35745 1.9783 8.96306 2.24652 9.35823 2.67208C9.75838 3.10299 10 3.75708 10 4.63325V5.99999H5V4.63601ZM4 5.99999V4.63601C4 3.58148 4.29339 2.65754 4.91049 1.99307C5.53252 1.32329 6.42675 0.978302 7.5014 0.978302C8.57583 0.978302 9.46952 1.32233 10.091 1.99162C10.7076 2.65557 11 3.57896 11 4.63325V5.99999H12C12.5523 5.99999 13 6.44771 13 6.99999V13C13 13.5523 12.5523 14 12 14H3C2.44772 14 2 13.5523 2 13V6.99999C2 6.44771 2.44772 5.99999 3 5.99999H4ZM3 6.99999H12V13H3V6.99999Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>`

		const unlockedIcon = `<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.4986 0C6.3257 0 5.36107 0.38943 4.73753 1.19361C4.23745 1.83856 4 2.68242 4 3.63325H5C5 2.84313 5.19691 2.23312 5.5278 1.80636C5.91615 1.30552 6.55152 1 7.4986 1C8.35683 1 8.96336 1.26502 9.35846 1.68623C9.75793 2.11211 10 2.76044 10 3.63601V6H3C2.44772 6 2 6.44772 2 7V13C2 13.5523 2.44772 14 3 14H12C12.5523 14 13 13.5523 13 13V7C13 6.44771 12.5523 6 12 6H11V3.63601C11 2.58135 10.7065 1.66167 10.0878 1.0021C9.46477 0.337871 8.57061 0 7.4986 0ZM3 7H12V13H3V7Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>`

		const toggleStop = () => {
			document.querySelectorAll('section').forEach((item) => {
				item.classList.toggle('snap-always')
			})

			const button = document.querySelector('#lockButton')
			if(button.dataset.locked === 'false') {
				button.innerHTML = unlockedIcon
				button.dataset.locked = 'true'
			} else {
				button.innerHTML = lockedIcon
				button.dataset.locked = 'false'
			}
		}
	</script>
</html>